<form class="form-horizontal">
    <fieldset>
        <legend>{{ _('Set Temperature') }}</legend>
        <p>
            {{ _('Select your current materials tool temperature!') }}
        </p>
    </fieldset>
	<fieldset>
        <legend>{{ _('Remove Filament') }}</legend>
        <p>
            {{ _('Slowly remove the current filament') }}
        </p>
    </fieldset>
	<fieldset>
        <legend>{{ _('Set Temperature') }}</legend>
        <p>
            {{ _('Select your new materials tool temperature!') }}
        </p>
    </fieldset>
	<fieldset>
        <legend>{{ _('Insert Filament') }}</legend>
        <p>
            {{ _('Carefully insert the new filament') }}
        </p>
    </fieldset>
</form>
