<form class="form-horizontal">
    <fieldset>
        <legend>{{ _('Set Temperature') }}</legend>
        <p>
            {{ _('Select your current materials tool temperature!') }}
        </p>
    </fieldset>
	<fieldset>
        <legend>{{ _('Remove Nozzle') }}</legend>
        <p>
            {{ _('Carefully remove the nozzle. Caution the nozzle may be hot!') }}
        </p>
    </fieldset>
	<fieldset>
        <legend>{{ _('Set Temperature') }}</legend>
        <p>
            {{ _('Carefully insert a new nozzle. Caution the printhead may be hot!') }}
        </p>
    </fieldset>
	<fieldset>
        <legend>{{ _('Push Filament') }}</legend>
        <p>
            {{ _('Carefully push the filament until the material is extruded') }}
        </p>
    </fieldset>
</form>
