<div id="change_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Change Filament') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
			<fieldset data-bind="visible: isFirstStep">
				<legend>{{ _('Set Temperature') }}</legend>
				<p>
					{{ _('Select your inserted materials tool temperature!') }}
					<div class="input-append">
						<input type="number" class="input-mini text-right tempInput" data-bind="value: toolTemp, enable: $root.loginState.isUser()">
						<span class="add-on">&deg;C</span>
						<div class="btn-group">
							<button class="btn dropdown-toggle" data-toggle="dropdown" data-bind="enable: $root.loginState.isUser()">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<!-- ko foreach: $root.temperature_profiles -->
								<li>
									<a href="#" data-bind="click: function() {$root.setTargetFromProfile($parent, $data);}, text: 'Set ' + name + ' (' + (extruder) + '&deg;C)'"></a>
								</li>
								<!-- /ko -->
							</ul>
						</div>
					</div>
				</p>
				<p>
					<div class="btn-group" id="toolSelect">
						<!-- ko foreach: $root.tools -->
						<button type="submit" class="btn distance" data-bind="click: $root.sendSelectToolCommand, enable: $root.loginState.isUser(), text: 'Change ' + $data.name()"></button>
						<!-- /ko -->
					</div>
				</p>
				<br>
				<br>
				<br>
			</fieldset>
			<fieldset data-bind="visible: isSecondStep">
				<legend>{{ _('Remove Filament') }}</legend>
				<p>
					{{ _('Slowly remove the filament.') }}
					<br>
					<img src="static/img/filaRemove.png">
				</p>
			</fieldset>
			<fieldset data-bind="visible: isThirdStep">
				<legend>{{ _('Set Temperature') }}</legend>
				<p>
					{{ _('Select your new materials tool temperature!') }}
					<div class="input-append">
						<input type="number" class="input-mini text-right tempInput" data-bind="value: toolTemp, enable: $root.loginState.isUser()">
						<span class="add-on">&deg;C</span>
						<div class="btn-group">
							<button class="btn dropdown-toggle" data-toggle="dropdown" data-bind="enable: $root.loginState.isUser()">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<!-- ko foreach: $root.temperature_profiles -->
								<li>
									<a href="#" data-bind="click: function() {$root.setTargetFromProfile($parent, $data);}, text: 'Set ' + name + ' (' + (extruder) + '&deg;C)'"></a>
								</li>
								<!-- /ko -->
							</ul>
						</div>
					</div>
				</p>
				<p>
					<div class="btn-group" id="toolSelect">
						<button type="submit" class="btn distance" data-bind="click: $root.setCurrentToolCommand, enable: $root.loginState.isUser(), text: 'Set temperature'"></button>
					</div>
				</p>
			</fieldset>
			<fieldset data-bind="visible: isFourthStep">
				<legend>{{ _('Insert Filament') }}</legend>
				<p>
					{{ _('Carefully insert the new filament! Click on "Next" when material comes out of the nozzle.') }}
					<br>
					<img src="static/img/filaInsert.png">
				</p>
			</fieldset>
			<fieldset data-bind="visible: isHeatingStep">
				<legend>{{ _('Heating') }}</legend>
				<p>
					{{ _('Please wait for the tool to heat up! (') }}
					<span data-bind="text: actual()+ '&deg;C / ' + toolTemp() + '&deg;C)'"></span>
				</p>
			</fieldset>
		</form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
        <button class="btn btn-primary" data-bind="click: function() { done(); }, enable: doneEnabled()">{{ _('Next') }}</button>
    </div>
</div>
